// configure replset
rs.add("{{ groups['replset_server'][0] }}:{{ replset_node02_port }}")
rs.addArb("{{ groups['replset_server'][0] }}:{{ replset_node03_port }}")

cfg = rs.conf()
cfg.members[0].priority = 2
rs.reconfig(cfg)
