rs.initiate(
  {
    _id : "{{ mongod_shard3_replSetName }}",
    members: [
      { _id : 0, host : "{{ groups['mongo_server'][0] }}:{{ mongod_shard3_01_port }}" },
      { _id : 1, host : "{{ groups['mongo_server'][0] }}:{{ mongod_shard3_02_port }}" },
      { _id : 2, host : "{{ groups['mongo_server'][0] }}:{{ mongod_shard3_03_port }}" }
    ]
  }
)
