rs.initiate(
  {
    _id : "{{ mongod_shard2_replSetName }}",
    members: [
      { _id : 0, host : "{{ groups['mongo_server'][0] }}:{{ mongod_shard2_01_port }}" },
      { _id : 1, host : "{{ groups['mongo_server'][0] }}:{{ mongod_shard2_02_port }}" },
      { _id : 2, host : "{{ groups['mongo_server'][0] }}:{{ mongod_shard2_03_port }}" }
    ]
  }
)
