rs.initiate(
  {
    _id: "{{ mongoc_replSetName }}",
    configsvr: true,
    members: [
      { _id : 0, host : "{{ groups['mongoc_servers'][0] }}:{{ mongoc_port }}" },
      { _id : 1, host : "{{ groups['mongoc_servers'][1] }}:{{ mongoc_port }}" },
      { _id : 2, host : "{{ groups['mongoc_servers'][2] }}:{{ mongoc_port }}" }
    ]
  }
)
