sh.addShard("{{ mongod_shard1_replSetName }}/{{ groups['mongo_server'][0] }}:{{ mongod_shard1_01_port }}")
sh.addShard("{{ mongod_shard2_replSetName }}/{{ groups['mongo_server'][0] }}:{{ mongod_shard2_01_port }}")
sh.addShard("{{ mongod_shard3_replSetName }}/{{ groups['mongo_server'][0] }}:{{ mongod_shard3_01_port }}")
