<!DOCTYPE HTML>
<html>
<body>
<p>This is HTML.</p>
<p>Visit <a href="http://{{ ansible_default_ipv4.address }}/index.php">http://{{ ansible_default_ipv4.address }}/index.php</a> to see whether PHP is installed properly.</p>
</body>
</html>
