rs.initiate(
  {
    _id: "{{ mongoc_replSetName }}",
    configsvr: true,
    members: [
{% set value = '' %}
{% for host in groups['mongoc_servers'] %}
  {% if loop.last %}
    {% set value = value + '{ _id : ' ~ loop.index0 ~ ', host : "' + host + ':' ~ mongoc_port ~ '" }' %}
      {{ value }}
  {% else %}
    {% set value = value + '{ _id : ' ~ loop.index0 ~ ', host : "' + host + ':' ~ mongoc_port ~ '" }' + ',\n' %}
  {% endif %}
{% endfor %}
    ]
  }
)
